.Button button {
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    padding: 8px 16px;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
}
  
#btn_calcular:hover:not([disabled]) {
    background-color: #3e8e41;
    color: white;
}

#btn_limpar:hover {
    background-color: #bb1c1c;;
    color: white;
}

#btn_calcular:disabled {
    cursor: default;
    color: rgb(84, 84, 84);
}

/*#btn_calcular[disabled]:hover {
    background: red;
}*/

input {
    margin: 10px;
}

#ipt_nascimento {
    cursor: no-drop;
}

#cbox_aniversario {
    cursor: pointer;
}